---
name: Test

on:
  workflow_call:

permissions:
  contents: read

env:
  FORCE_COLOR: 1
  MYPY_FORCE_COLOR: 1
  PY_COLORS: 1
  TOX_TESTENV_PASSENV: >-
    FORCE_COLOR
    MYPY_FORCE_COLOR
    NO_COLOR
    PY_COLORS
    PYTEST_THEME
    PYTEST_THEME_MODE
  TOX_PARALLEL_NO_SPINNER: 1

jobs:
  test:
    name: Test
    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
          cache: pip

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[test]

      - name: Check Types
        run: mypy src

      - name: Lint
        run: ruff check src

      - name: Format
        run: ruff format --diff src

      - name: Test
        run: modem-info --version
